/*reset*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
textarea:focus,input:focus {outline: none;}
body {
  margin: 0;
 
}

ul,li, a{
  list-style: none;
  text-decoration: none;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/* reset botones*/

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 1px;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: hidden;
    padding: 2px;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}







/*/////////////////////// GRILL ///////////////////////////*/
[class^=col]{
    float:left;
    height:auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-1{
    width: 10%;
    min-height: 1px;
}
.col-15{
    width: 15%;
    min-height: 1px;
}
.col-2{
    width: 20%;
    min-height: 1px;
}
.col-25{
    width: 25%;
    min-height: 1px;
}
.col-3{
    width: 30%;
    min-height: 1px;
}
.col-35{
    width: 35%;
    min-height: 1px;
}
.col-4{
    width: 40%;
    min-height: 1px;
}
.col-45{
    width: 45%;
    min-height: 1px;
}
.col-5{
    width: 50%;
    min-height: 1px;
}
.col-55{
    width: 55%;
    min-height: 1px;
}
.col-6{
    width: 60%;
    min-height: 1px;
}
.col-65{
    width: 65%;
    min-height: 1px;
}
.col-7{
    width: 70%;
    min-height: 1px;
}
.col-75{
    width: 75%;
    min-height: 1px;
}
.col-8{
    width: 80%;
    min-height: 1px;
}
.col-85{
    width: 85%;
    min-height: 1px;
}
.col-9{
    width: 90%;
    min-height: 1px;
}
.col-95{
    width: 95%;
    min-height: 1px;
}
.col-10{
    width: 100%;
    min-height: 1px;
}

/*////////////////////// COLORES ///////////////////////////*/
.text-azul{color:#5D9CEC}
.text-naranjo{color:#F3FF35}
.text-rojo{color:#a94442}
.text-verde{color:#A0D468}
.text-celeste{color:#4fc1E9}
.text-amarillo{color:#F3FF35}
.text-purpura{color:#Ac92EC}
.text-gris{color:#B7AFAF}
.text-blanco{color:#fff}


.bor-azul{border-color:#5D9CEC; border: solid; border-width: 1px;}
.bor-naranjo{border-color:#F3FF35; border: solid; border-width: 1px;}
.bor-rojo{border-color:#a94442; border: solid; border-width: 1px;}
.bor-verde{border-color:#A0D468; border: solid; border-width: 1px;}
.bor-celeste{border-color:#4fc1E9; border: solid; border-width: 1px;}
.bor-amarillo{border-color:#F3FF35; border: solid; border-width: 1px;}
.bor-purpura{border-color:#Ac92EC; border: solid; border-width: 1px;}
.bor-gris{border-color:#B7AFAF; border: solid; border-width: 1px;}

.bg-azul{background-color:#5D9CEC; }
.bg-naranjo{background-color:#F3FF35}
.bg-rojo{background-color:#a94442}
.bg-verde{background-color:#A0D468}
.bg-celeste{background-color:#4fc1E9}
.bg-amarillo{background-color:#F3FF35}
.bg-purpura{background-color:#a075d8}
.bg-gris{background-color:#B7AFAF}
.bg-blanco{background-color:#fff}
/*botones*/
.btn:focus{ 
  outline: none;
}

.btn{

  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.btn:active{
 opacity: 0.8;
}

.btn-azul{background-color:#5D9CEC; color:#fff;text-align: center; cursor: pointer;}
.btn-naranjo{background-color:#ffce54;color:#fff;text-align: center; cursor: pointer;}
.btn-rojo{background-color:#a94442; color:#fff;text-align: center; cursor: pointer;}
.btn-verde{background-color:#A0D468; color:#fff;text-align: center; cursor: pointer;}
.btn-celeste{background-color:#4fc1E9; color:#fff;text-align: center; cursor: pointer;}
.btn-amarillo{background-color:#F3FF35; color:#fff;text-align: center; cursor: pointer;}
.btn-purpura{background-color:#Ac92EC; color:#fff;text-align: center; cursor: pointer;}
.btn-gris{background-color:#B7AFAF; color:#fff;text-align: center; cursor: pointer;}


.btn-azul:hover{background-color:#4A89DC; color:#fff;}
.btn-naranjo:hover{background-color:#ffc005;color:#fff;}
.btn-rojo:hover{background-color:#DA4453; color:#fff;}
.btn-verde:hover{background-color:#8CC152; color:#fff;}
.btn-celeste:hover{background-color:#38AFDA; color:#fff;}
.btn-amarillo:hover{background-color:#FEFF49; color:#fff;}
.btn-purpura:hover{background-color:#967ADC; color:#fff;}
.btn-gris:hover{background-color:#615959; color:#fff;}

.btn-azul-neg:hover{background-color:#5D9CEC; color:#fff;}
.btn-naranjo-neg:hover{background-color:#F3FF35;color:#fff;}
.btn-rojo-neg:hover{background-color:#a94442; color:#fff;}
.btn-verde-neg:hover{background-color:#A0D468; color:#fff;}
.btn-celeste-neg:hover{background-color:#4fc1E9; color:#fff;}
.btn-amarillo-neg:hover{background-color:#F3FF35; color:#fff;}
.btn-purpura-neg:hover{background-color:#Ac92EC; color:#fff;}
.btn-gris-neg:hover{background-color:#B7AFAF; color:#fff;}


.btn-azul-neg{background-color:#4A89DC; color:#fff;}
.btn-naranjo-neg{background-color:#ffc005;color:#fff;}
.btn-rojo-neg{background-color:#DA4453; color:#fff;}
.btn-verde-neg{background-color:#8CC152; color:#fff;}
.btn-celeste-neg{background-color:#38AFDA; color:#fff;}
.btn-amarillo-neg{background-color:#FEFF49; color:#fff;}
.btn-purpura-neg{background-color:#967ADC; color:#fff;}
.btn-gris-neg{background-color:#615959; color:#fff;}


/*----------------TAMAÑOS-------------------------------*/
form{
  padding: 30px;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cabecera p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.btn-lg{
	padding: 10px 16px;
  	font-size: 18px;
  	line-height: 1.3333333;
  	border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 5px;
  }
.btn-lg:hover{border: 1px solid rgba(0, 0, 0, .3);}
.btn-sm{
	padding: 5px 10px;
  	font-size: 12px;
  	line-height: 1.5;
  	border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 5px;
}
.btn-sm:hover{border: 1px solid rgba(0, 0, 0, .3);}
.btn-xs{
    padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 5px;
}
.btn-xs:hover{border: 1px solid rgba(0, 0, 0, .3);}
.btn-block {
  display: block;
  width: 100%;
  padding: 10px;
}

.btn-mads{
  overflow: hidden;
  text-align: center;
  box-shadow: 7px 3px 10px -9px rgba(0,0,0,0.75);
}
.btn-mads:hover{
  box-shadow: 7px 4px 27px -9px rgba(0,0,0,0.75);
  cursor: pointer;

}
.btn-mads:active{
  box-shadow: 7px 3px 10px -9px rgba(0,0,0,0.75);
  opacity: 0.9;

}

.contenedor {
  float: left;
  width: 100%;

}
.cabecera{
  float: left;
  padding: 15px;
  overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cabecera img{
 
}
.logo{
  right: 0;
  left: 20%;
  width: 20%;
  background-color: #000;
}



}
.cuerpo{
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100%;
  clear: left;
  clear: right;

  }
.footer{
  position: absolute;
  top: 90%;
  bottom: 0;
  width: 100%;
}
.articulo{
  margin-bottom: 5px;
  float: left;
  padding: 15px;
  overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.articulo-logo{
  float: left;
  overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.articulo-logo img{
  width: 100%;
  border-radius: 50%;
}
nav,.nav{
  margin-bottom: 5px;
  padding-left: 5px;
  float: left;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
nav ul, .nav ul{
  margin-left: 0;
  padding: 0;
}
nav li, .nav li{
  display: inline-block;
  margin-right: 10px;
  margin-left: 0;
  cursor: default;
  opacity: 0.8;
}
nav li:hover, .nav li:hover{
  opacity: 1;
}
/*posiciones*/
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-justificado{
  text-align: justify;
}
.margen-top{
  margin-top: 5px;
}
.margen-izquierdo{
  margin-left: 5px;
}
.margen-derecho{
  margin-right: 5px;
}
.margen-bajo{
  margin-bottom: 5px;
}

.margen{
  margin: 5px;
}
/*Imagenes*/

img {
    max-width: 100%;
  }

.img-resp{
  display: block;
  max-width: 100%;
  height: auto;
  top: 0;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 60%;
}
/*Fuentes*/
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}



.pop{
  position: fixed;
  top: 5%;
  border:solid;
  border-width: 5px;
  border-color: #fff;
  padding: 30px;
  left: 5%;
  opacity: 0.98;
  border-radius: 20px;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.no-se-ve{
  visibility: hidden;
}
.cerrar{
  position: absolute;
  top: 3px;
  right: 5px;
}

/*
codigo bloqueo:jm051829;
226746700 red banc: ; 
Codigo devito:16036261 ;
Mi celular:51049164;
*/